@{
    ViewBag.Title = "_Footer";
}
<!-- footer start -->
<footer class="bg-dark footer text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-cta py-4 mb-4">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="cta-content">
                                <h3 class="text-white mb-2">Best Solutions for your Business</h3>
                                <p class="text-white-50 mo-mb-20 mb-0">It is a long established fact that a reader will by of a page when looking at its layout.</p>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-md-right">
                                <a href="#" class="btn btn-purple">Get started now <i class="mdi mdi-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="mb-3">
                    <img src="images/logo-light.png" alt="" height="20">
                </div>
                <p class="pt-1 text-white-50">Bootstrap 4 Landing Page Template</p>
                <p class="text-white-50">If several languages coalesce the grammar of the resulting language </p>
            </div>
            <div class="col-lg-2">
                <h5 class="footer-title text-white mb-3">About</h5>
                <ul class="list-unstyled footer-list">
                    <li><a href="">Home</a></li>
                    <li><a href="">Features</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h5 class="footer-title text-white mb-3">Social</h5>
                <ul class="list-unstyled footer-list">
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Behance</a></li>
                    <li><a href="">Dribbble</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h5 class="footer-title text-white mb-3">Support</h5>
                <ul class="list-unstyled footer-list">
                    <li><a href="">Help & Support</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5 class="footer-title text-white mb-3">Contact</h5>
                <div class="pt-1">
                    <div class="float-left mr-2">
                        <i class="pe-7s-map-marker font-20"></i>
                    </div>
                    <p class="text-white-50 overflow-hidden">2395 Point Street Chicago, IL 60639</p>
                </div>
                <div>
                    <div class="float-left mr-2">
                        <i class="pe-7s-phone font-20"></i>
                    </div>
                    <p class="text-white-50 overflow-hidden">(123) 456-7890</p>
                </div>
                <div>
                    <div class="float-left mr-2">
                        <i class="pe-7s-mail font-20"></i>
                    </div>
                    <p class="text-white-50 overflow-hidden">example@abc.com</p>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="py-4">
                    <div class="text-center">
                        <p class="text-white-50">2016 - 2023 © Minton. Design by <a href="" target="_blank" class="text-white-50">Coderthemes</a> </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container-fluid end -->
</footer>
<!-- footer end -->
