@{
    ViewBag.Title = "_Home";
}

<section class="bg-home bg-primary" id="home">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="home-content text-center mb-4">
                    <h1 class="home-title mb-4 text-white">Project X</h1>
                    <p class="text-white-50 home-desc mb-4">Project X</p>
                    <div>
                        <a href="#" class="btn btn-light mr-1">Contact us</a>
                        <a href="#" class="btn btn-purple">Our Works</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="home-img">
                    <img src="images/home-img.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
