@{
    ViewBag.Title = "_Testimonial";
}

<section class="section bg-light" id="testimonial">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-4">
                    <i class="pe-7s-chat h1 text-primary mb-3"></i>
                    <h3 class="font-22 mb-3">What our Users Says</h3>
                    <p class="text-muted">If several languages coalesce the grammar of the resulting language</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-4">
                <div class="testi-box mt-4">
                    <div class="testi-desc p-4">
                        <p class="text-muted mb-0">" If several languages coalesce the grammar of the resulting language is more simple than that of the individual languages. "</p>
                    </div>

                    <div class="p-4">
                        <div class="testi-img float-left mr-3">
                            <img src="images/users/img-1.png" alt="" class="rounded-circle avatar-md">
                        </div>
                        <div>
                            <h4 class="font-16 mb-1">James Barrett</h4>
                            <p class="text-muted mb-2"> <small> - Minton User</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testi-box mt-4">
                    <div class="testi-desc p-4">
                        <p class="text-muted mb-0">" Everyone realizes why a new common language would be desirable one could refuse to pay expensive translators to achieve this it would be necessary to have uniform grammar. "</p>
                    </div>

                    <div class="p-4">
                        <div class="testi-img float-left mr-3">
                            <img src="images/users/img-2.png" alt="" class="rounded-circle avatar-md">
                        </div>
                        <div>
                            <h4 class="font-16 mb-1">Glenn Ziegler</h4>
                            <p class="text-muted mb-2"><small> - Minton User</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testi-box mt-4">
                    <div class="testi-desc p-4">
                        <p class="text-muted mb-0">" Separate existence is a myth Europe uses the same vocabulary the languages only differ in pronunciation and their most common words. "</p>
                    </div>

                    <div class="p-4">
                        <div class="testi-img float-left mr-3">
                            <img src="images/users/img-3.png" alt="" class="rounded-circle avatar-md">
                        </div>
                        <div>
                            <h4 class="font-16 mb-1">Samuel Hicks</h4>
                            <p class="text-muted mb-2"><small> - Minton User</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row mt-4 pt-4">
            <div class="col-lg-3 col-sm-6">
                <div class="client-images">
                    <img src="images/clients/1.png" alt="logo-img" class="mx-auto img-fluid d-block">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="client-images">
                    <img src="images/clients/2.png" alt="logo-img" class="mx-auto img-fluid d-block">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="client-images">
                    <img src="images/clients/3.png" alt="logo-img" class="mx-auto img-fluid d-block">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="client-images">
                    <img src="images/clients/4.png" alt="logo-img" class="mx-auto img-fluid d-block">
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>