@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "_Home";
}

@model eUseControl.Web.Models.UserData

<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Product#1 detail</h1>
</body>