@{
     ViewBag.Title = "Index";
}

<!-- SIGN UP -->
<section class="signup section" id="signup">
     <div class="container" style="padding-top: 80px;">
          <div class="row">

               <!-- Column for SignUp Form -->
               <div class="ml-auto col-lg-5 col-md-6 col-12">
                    <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="200">Sign Up</h2>

                    <form action="#" method="post" class="signin-form webform" data-aos="fade-up" data-aos-delay="400" role="form">
                         <input type="text" class="form-control" name="signin-fullname" placeholder="Full Name">

                         <input type="text" class="form-control" name="signin-age" placeholder="Age">

                         <input type="email" class="form-control" name="signin-email" placeholder="Email">

                         <input type="text" class="form-control" name="signin-username" placeholder="Username">

                         <input type="password" class="form-control" name="signin-password" placeholder="Password">

                         <button type="submit" class="form-control" id="submit-button" name="submit">Sign In</button>
                    </form>
               </div>
          </div>
     </div>
</section>