@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Classes View";
}

@using System.Web.Optimization
@model eUseControl.Web.Models.UserData

<h2>@Model.SingleProduct detail page.</h2>

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body onscroll="menuScript()">

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { autocomplete = "off" }))
{
	<tr>
		<td>
			<button style="float: right" class="btn btn-primary btn-xs" name="btn"
			        type="submit" value="">
				Home
			</button>
		</td>
	</tr>
}
<!-- CLASSES SECTION -->
<section id="classes">
	<div class="container">
		<div class="section-header">
			<div class="section-header_title">
				<h1>OUR <span class="text-orange">CLASSES</span></h1>
			</div>
			<img src="./assets/img/line-dec (1).png"
			     alt=""
			     class="section-header_separate">
			<p class="section-header_text">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati voluptate et accusamus corrupti, harum ducimus consectetur similique ullam enim illo eos, id maiores doloremque, explicabo neque vitae aut ad molestias.
			</p>
		</div>
		<div class="row">
			<div class="section-content_classes col-sm-4">
				<div class="card section-content_classes-select" onclick="selectClass(this)" data-tab="0">
					<i class="section-content_classes-select-icons fa fa-dumbbell"></i>
					Class 1
				</div>
				<div class="card section-content_classes-select" onclick="selectClass(this)" data-tab="1">
					<i class="section-content_classes-select-icons fa fa-dumbbell"></i>
					Class 2
				</div>
				<div class="card section-content_classes-select" onclick="selectClass(this)" data-tab="2">
					<i class="section-content_classes-select-icons fa fa-dumbbell"></i>
					Class 3
				</div>
				<div class="card section-content_classes-select" onclick="selectClass(this)" data-tab="3">
					<i class="section-content_classes-select-icons fa fa-dumbbell"></i>
					Class 4
				</div>
				<div class="btn view-all-classes">View All Classes</div>
			</div>
			<div class="section-content_classes-detail col-sm-8 ">
				<img src="./assets/img/training-image-01.jpg" alt="img" class="section-content_classes-img animate__animated">
				<div class="section-content_classes-describe">
					<h2 class="section-content_classes-heading">Heading2</h2>
					<p class="section-content_classes-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum tempora accusantium nesciunt, fugiat quam fuga optio quidem incidunt officiis et ut id ipsa hic nam.</p>
					<a href="#" class="section-content_classes-btn btn">
						VIEW SCHEDULE
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>