
@{
     ViewBag.Title = "Index";
}

<section class="subscription" id="subscription">
     <div class="container" style="padding-top: 80px;">
          <div class="row">

               <div class="col-lg-12 col-12 text-center mb-5">
                    <h6 data-aos="fade-up">Get A Perfect Body</h6>

                    <h2 data-aos="fade-up" data-aos-delay="200">Our Training Classes</h2>
               </div>

               <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
                    <div class="class-thumb">
                         <img src="images/class/yoga-class.jpg" class="img-fluid" alt="Class">

                         <div class="class-info">
                              <h3 class="mb-1">Yoga</h3>

                              <span><strong>Trained by</strong> - Yoga Expert</span>

                              <span class="class-price">$45</span>

                              <p class="mt-3">Yoga is a light, which once lit will never dim</p>
                         </div>
                    </div>
               </div>

               <div class="mt-5 mt-lg-0 mt-md-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
                    <div class="class-thumb">
                         <img src="images/class/crossfit-class.jpg" class="img-fluid" alt="Class">

                         <div class="class-info">
                              <h3 class="mb-1">Aerobics</h3>

                              <span><strong>Trained by</strong> - Aerobics Trainer</span>

                              <span class="class-price">$60</span>

                              <p class="mt-3">True power of energy comes from Aerobics</p>
                         </div>
                    </div>
               </div>

               <div class="mt-5 mt-lg-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
                    <div class="class-thumb">
                         <img src="images/class/cardio-class.jpg" class="img-fluid" alt="Class">

                         <div class="class-info">
                              <h3 class="mb-1">Cardio</h3>

                              <span><strong>Trained by</strong> - Cardio Experts</span>

                              <span class="class-price">$70</span>

                              <p class="mt-3">Good things come to those who sweat....</p>
                         </div>
                    </div>
               </div>

          </div>
     </div>
</section>
