@{
    ViewBag.Title = "_Counter";
}

<section class="py-5 bg-primary">
    <div class="container-fluid">
        <div class="row" id="counter">
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box text-center my-2 p-3">
                    <div class="counter-icon text-white-50">
                        <i class="pe-7s-add-user display-4"></i>
                    </div>
                    <div class="counter-content">
                        <h2 class="counter-value text-white mt-0 mb-3" data-count="1200">0</h2>
                        <p class="text-white-50 mb-0">Fans</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="counter-box text-center my-2 p-3">
                    <div class="counter-icon text-white-50">
                        <i class="pe-7s-cart display-4"></i>
                    </div>
                    <div class="counter-content">
                        <h2 class="counter-value text-white mt-0 mb-3" data-count="4900">10</h2>
                        <p class="text-white-50 mb-0">Total Sales</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box text-center my-2 p-3">
                    <div class="counter-icon text-white-50">
                        <i class="pe-7s-smile display-4"></i>
                    </div>
                    <div class="counter-content">
                        <h2 class="counter-value text-white mt-0 mb-3" data-count="5645">608</h2>
                        <p class="text-white-50 mb-0">Happy Clients</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box text-center my-2 p-3">
                    <div class="counter-icon text-white-50">
                        <i class="pe-7s-medal display-4"></i>
                    </div>
                    <div class="counter-content">
                        <h2 class="counter-value text-white mt-0 mb-3" data-count="800">2</h2>
                        <p class="text-white-50 mb-0">Won Prices</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
