
@{
    ViewBag.Title = "_FAQ";
}

<section class="section" id="faq">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-5">
                    <i class="pe-7s-help1 h1 text-primary mb-3"></i>
                    <h3 class="font-22 mb-3">Frequently Asked Questions</h3>
                    <p class="text-muted">If several languages coalesce the grammar of the resulting language</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row align-items-center">
            <div class="col-lg-5">
                <div>
                    <img src="images/faq-img.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>

            <div class="col-lg-7">
                <ul class="nav nav-pills faq-nav-tabs nav-justified mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item text-sm-left">
                        <a class="nav-link active" id="pills-general-tab" data-toggle="pill" href="#pills-general" role="tab" aria-controls="pills-general" aria-selected="true">
                            <div class="clearfix">
                                <i class="pe-7s-wallet text-purple float-md-right text-md-center h2 m-0"></i>
                                <h4 class="mr-2 d-none d-sm-inline-block">General Questions</h4>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item text-sm-left">
                        <a class="nav-link" id="pills-pricing-tab" data-toggle="pill" href="#pills-pricing" role="tab" aria-controls="pills-pricing" aria-selected="false">
                            <div class="clearfix">
                                <i class="pe-7s-notebook text-purple float-md-right h2 m-0"></i>
                                <h4 class="mr-2 d-none d-sm-inline-block">Pricing & Plans</h4>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="tab-content faq-tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-general" role="tabpanel" aria-labelledby="pills-general-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-4">
                                    <div class="faq-box mb-4">
                                        <div class="faq-question-q-box float-left mr-4">Q.</div>
                                        <div class="overflow-hidden">
                                            <h5 class="font-16 mt-0">What is Lorem Ipsum?</h5>
                                            <p class="text-muted">The new common language will be more simple and regular than the existing European languages It will be as simple as occidental.</p>
                                        </div>
                                    </div>

                                    <div class="faq-box mb-4">
                                        <div class="faq-question-q-box float-left mr-4">Q.</div>
                                        <div class="overflow-hidden">
                                            <h5 class="font-16 mt-0">Why do we use it?</h5>
                                            <p class="text-muted">It is a long established fact that a reader will be distracted by the readable content.</p>
                                        </div>
                                    </div>

                                    <div class="faq-box">
                                        <div class="faq-question-q-box float-left mr-4">Q.</div>
                                        <div class="overflow-hidden">
                                            <h5 class="font-16 mt-0">Where does it come from?</h5>
                                            <p class="text-muted">If several languages coalesce, the grammar of the resulting language is more simple and regular of the individual languages.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end tab-pane -->
                    <div class="tab-pane fade" id="pills-pricing" role="tabpanel" aria-labelledby="pills-pricing-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-4">
                                    <div class="faq-box mb-4">
                                        <div class="faq-question-q-box float-left mr-4">Q.</div>
                                        <div class="overflow-hidden">
                                            <h5 class="font-16 mt-0">Why do we use it?</h5>
                                            <p class="text-muted">It is a long established fact that a reader will be distracted by the readable content.</p>
                                        </div>
                                    </div>

                                    <div class="faq-box mb-4">
                                        <div class="faq-question-q-box float-left mr-4">Q.</div>
                                        <div class="overflow-hidden">
                                            <h5 class="font-16 mt-0">Where does it come from?</h5>
                                            <p class="text-muted">If several languages coalesce, the grammar of the resulting language is more simple and regular of the individual languages.</p>
                                        </div>
                                    </div>

                                    <div class="faq-box">
                                        <div class="faq-question-q-box float-left mr-4">Q.</div>
                                        <div class="overflow-hidden">
                                            <h5 class="font-16 mt-0">What is Lorem Ipsum?</h5>
                                            <p class="text-muted">The new common language will be more simple and regular than the existing European languages It will be as simple as occidental.</p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end tab-pane -->
                </div>
            </div>
        </div>
        <!-- end row -->

    </div>
    <!-- end container-fluid -->
</section>
