@{
     ViewBag.Title = "_Footer";
}
<footer class="footer-section bg-dark">
     <div class="container">
          <div class="row">
               <div class="col-md-4">
                    <h3 class="text-white">About Workout</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam facere optio eligendi.</p>
               </div>

               <div class="col-md-3 ml-auto">
                    <h3 class="text-white">Links</h3>
                    <ul class="list-unstyled footer-links">
                         <li><a href="#">Home</a></li>
                         <li><a href="#">Classes</a></li>
                         <li><a href="#">Schedule</a></li>
                         <li><a href="#">Trainer</a></li>
                    </ul>
               </div>

               <div class="col-md-4">
                    <h3 class="text-white">Subscribe</h3>
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, odio beatae accusantium.
                    </p>
                    <form action="#">
                         <div class="d-flex mb-5">
                              <input type="text" class="form-control rounded-0" placeholder="Email">
                              <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">
                         </div>
                    </form>
               </div>

          </div>

          <div class="row pt-5 mt-5 text-center">
               <div class="col-md-12">
                    <div class=" pt-5">
                         <p>
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright &copy;
                              <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
                              <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                                                              target="_blank">Colorlib</a>
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                         </p>
                    </div>
               </div>

          </div>
     </div>
</footer>