@{
    ViewBag.Title = "_Footer";
}
<footer class="footer-section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3>About Us</h3>
                <p>
                    Welcome to WORKOUT.!

                    At WORKOUT., we believe that fitness is not just a goal, but a way of life. We are dedicated to providing a motivating and inclusive environment for individuals of all fitness levels.
                </p>
            </div>
            <div class="col-md-4">
                <h3>Contact</h3>
                <ul class="contact-info">
                    <li><i class="fa fa-envelope"></i> workout@gmail.com</li>
                    <li><i class="fa fa-phone"></i> +373 68123456</li>
                    <li><i class="fa fa-map-marker"></i> Str. Studenților, 7, Chișinău, Chişinău</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3>Follow Us</h3>
                <!-- Section: Social media -->
                <section>
                    <!-- Facebook -->
                    <a class="btn text-white btn-floating m-1" style="background-color: #3b5998; border-radius: 50%;" href="#!" role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>

                    <!-- Twitter -->
                    <a class="btn text-white btn-floating m-1" style="background-color: #55acee; border-radius: 50%;" href="#!" role="button">
                        <i class="fab fa-twitter"></i>
                    </a>

                    <!-- Google -->
                    <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39; border-radius: 50%;" href="#!" role="button">
                        <i class="fab fa-google"></i>
                    </a>

                    <!-- Instagram -->
                    <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac; border-radius: 50%;" href="#!" role="button">
                        <i class="fab fa-instagram"></i>
                    </a>

                    <!-- Linkedin -->
                    <a class="btn text-white btn-floating m-1" style="background-color: #0082ca; border-radius: 50%;" href="#!" role="button">
                        <i class="fab fa-linkedin-in"></i>
                    </a>

                    <!-- Github -->
                    <a class="btn text-white btn-floating m-1" style="background-color: #333333; border-radius: 50%;" href="#!" role="button">
                        <i class="fab fa-github"></i>
                    </a>
                </section>

                <!-- Section: Social media -->
            </div>
        </div>
    </div>
</footer>