<<<<<<< HEAD
﻿@{
=======
﻿
@{
>>>>>>> 671bf15a2cc30ed8078d91f3f87d0efbbe83fc7f
    ViewBag.Title = "_Pricing";
}

<section class="section" id="pricing">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-4">
                    <i class="pe-7s-notebook h1 text-primary mb-3"></i>
                    <h3 class="font-22 mb-3">Our Pricing plans</h3>
                    <p class="text-muted">If several languages coalesce the grammar of the resulting language</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-4">
                <div class="pricing-plan mt-3 p-3">
                    <div class="plan-header px-3 mt-3">
                        <div class="pricing-icon float-right">
                            <i class="pe-7s-helm h1 mt-0 text-primary"></i>
                        </div>
                        <h5 class="plan-title font-18">Single Application</h5>
                        <p class="text-muted">Sed ut perspiciatis unde</p>
                        <h2 class="pt-4"><sup><span class="font-18">$</span></sup> <span class="text-primary">24</span> <span class="font-18">Per License</span></h2>
                    </div>
                    <hr class="my-4">
                    <div class="plan-content text-muted mb-4 px-3">
                        <p><i class="mdi mdi-check text-primary mr-2"></i> 5 Projects</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> 1 GB Storage</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> No Domain</p>
                        <p><i class="mdi mdi-close text-danger mr-2"></i> 1 User</p>
                        <p><i class="mdi mdi-close text-danger mr-2"></i> Free Support</p>
                    </div>
                    <div class="text-center py-3">
                        <a href="#" class="btn btn-purple">Purchase now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-plan mt-3 p-3 active">
                    <div class="plan-header px-3 mt-3">
                        <div class="pricing-icon float-right">
                            <i class="pe-7s-diamond h1 mt-0 text-primary"></i>
                        </div>
                        <h5 class="plan-title font-18">Multiple Application</h5>
                        <p class="text-muted">Sed ut perspiciatis unde</p>
                        <h2 class="pt-4"><sup><span class="font-18">$</span></sup> <span class="text-primary">120</span> <span class="font-18">Per License</span></h2>
                    </div>
                    <hr class="my-4">
                    <div class="plan-content text-muted mb-4 px-3">
                        <p><i class="mdi mdi-check text-primary mr-2"></i> 5 Projects</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> 1 GB Storage</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> No Domain</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> 1 User</p>
                        <p><i class="mdi mdi-close text-danger mr-2"></i> Free Support</p>
                    </div>
                    <div class="text-center py-3">
                        <a href="#" class="btn btn-purple">Purchase now</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="pricing-plan mt-3 p-3">
                    <div class="plan-header px-3 mt-3">
                        <div class="pricing-icon float-right">
                            <i class="pe-7s-shield h1 mt-0 text-primary"></i>
                        </div>
                        <h5 class="plan-title font-18">Extended </h5>
                        <p class="text-muted">Sed ut perspiciatis unde</p>
                        <h2 class="pt-4"><sup><span class="font-18">$</span></sup> <span class="text-primary">999</span> <span class="font-18">Per License</span></h2>
                    </div>
                    <hr class="my-4">
                    <div class="plan-content text-muted mb-4 px-3">
                        <p><i class="mdi mdi-check text-primary mr-2"></i> 5 Projects</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> 1 GB Storage</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> No Domain</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> 1 User</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> Free Support</p>
                    </div>
                    <div class="text-center py-3">
                        <a href="#" class="btn btn-purple">Purchase now</a>
                    </div>
                </div>

            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>