@{
    ViewBag.Title = "_Services";
}
<section class="section" id="services">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="title text-center my-4">
                    <h3 class="mb-3">The theme is fully responsive and easy to customize</h3>
                    <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae</p>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="services-box text-center mt-3 p-3">
                    <div class="services-icon mb-3">
                        <i class="pe-7s-display1 h2 mt-0"></i>
                    </div>
                    <h4>Bootstrap UI based</h4>
                    <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="services-box text-center mt-3 p-3">
                    <div class="services-icon mb-3">
                        <i class="pe-7s-science h2 mt-0"></i>
                    </div>
                    <h4>Creative Design</h4>
                    <p class="text-muted">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="services-box text-center mt-3 p-3">
                    <div class="services-icon mb-3">
                        <i class="pe-7s-phone h2 mt-0"></i>
                    </div>
                    <h4>Responsive Layouts</h4>
                    <p class="text-muted">Itaque earum rerum hic tenetur a sapiente delectus ut aut reiciendis maiores alias.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="services-box text-center mt-3 p-3">
                    <div class="services-icon mb-3">
                        <i class="pe-7s-exapnd2 h2 mt-0"></i>
                    </div>
                    <h4>Strategy Solutions</h4>
                    <p class="text-muted">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="services-box text-center mt-3 p-3">
                    <div class="services-icon mb-3">
                        <i class="pe-7s-headphones h2 mt-0"></i>
                    </div>
                    <h4>Awesome Support</h4>
                    <p class="text-muted">Et harum quidem rerum facilis est et expedita distinctio nam soluta nobis est.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="services-box text-center mt-3 p-3">
                    <div class="services-icon mb-3">
                        <i class="pe-7s-upload h2 mt-0"></i>
                    </div>
                    <h4>Easy to customize</h4>
                    <p class="text-muted">Ut enim ad minima veniam, quis nostrum ullam corporis suscipit.</p>
                </div>
            </div>

        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
<<<<<<< HEAD
</section>
=======
</section>
>>>>>>> 671bf15a2cc30ed8078d91f3f87d0efbbe83fc7f
