@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ThankYou";
}
<div class="site-section bg-light contact-wrap" id="contact-section">
    <div class="container text-center">
        <h2>Thanks for your Feedback</h2>
        <p>Your feedback has been submitted successfully.</p>
        <a class="btn btn-default" href="@Url.Action("Index", "Home")">Home</a>
    </div>
</div>